.playlist-bar-outercontainer {
    /* padding: 1rem; */
    border-top: 1px solid rgb(94, 94, 94);
    border-bottom: 1px solid rgb(94, 94, 94);
    margin-bottom: .1px;
}

.playlist-bar-container {
    display: flex;
    padding: 1rem 2rem;
    height: 4rem;
}

.playlist-bar-keys-container {
    align-items: center;
    justify-content: space-between;
    height: 1rem;
    border-top: 1px solid rgb(94, 94, 94);
    border-bottom: 1px solid rgb(94, 94, 94);
    margin-bottom: .1px;
}

.playlist-bar-keys-left {

}

.playlist-bar-keys-right {
    display: flex;
    justify-content: space-around;
    width: 30rem;
}

.playlist-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.playlist-bar-left {
    display: flex;
}

.playlist-bar-playlist {
    height: 5rem;
    width: 8rem;
    margin-right: 1rem;
    border: 1px solid red;
}

.playlist-bar-title-description {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.playlist-bar-title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.playlist-bar-right {
    display: flex;
    /* justify-content: space-around;
    width: 30rem; */
}

.playlist-bar-visibility-date-count {
    display: flex;
    justify-content: space-around;
    width: 30rem;
}
