.video-bar-outercontainer{
    padding: 1rem;
    border-top: 1px solid rgb(94, 94, 94);
    border-bottom: 1px solid rgb(94, 94, 94);
    margin-bottom: .1px;
}

.video-bar-container {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.video-bar-left {
    display: flex;
}

.video-bar-vid {
    height: 5rem;
    width: 8rem;
    margin-right: 1rem;
    border: 1px solid red;

}

.video-bar-title-description {
    display: flex;
    flex-direction: column;
}

.video-bar-functions {

}
