.video-bar-outercontainer{
    padding: 1rem;
    border-top: 1px solid rgb(94, 94, 94);
    border-bottom: 1px solid rgb(94, 94, 94);
    margin-bottom: .1px;
}

.video-bar-container {
    display: flex;
    /* border: 1px solid red; */
}

.video-bar-vid {
    height: 5rem;
    width: 8rem;
    /* border: 1px solid red; */
}

.video-bar-functions {

}
