
.playlist-page-wrapper {
    min-height: 100%;
    height: 40rem;
    padding: 0 10rem;
    padding-top: 7rem;
    /* border: 1px solid red; */
}


.playlist-page-content {
    display: flex;
    /* border: 1px solid red; */
}

.playlist-page-left {
}

.playlist-page-left-wrapper {
    padding: 1rem;
    border-radius: 1rem;
    width: 20rem;
    height: 30rem;
    background-color: rgb(94, 94, 94);
    /* border: 1px solid blue; */
}

.playlist-page-right {
    /* height: rem; */
    width: 100%;
}
