body {
    min-height: 44rem;
    /* border: 1px solid yellow; */
    background-color: #0f0f0f;
    color: #4c1892;

}

button {
    border: none;
    color: rgb(94, 94, 94);
    background-color: #4c1892;
    /* padding: 5px 6px; */
    border-radius: 3px;
}

.nav-link {
    text-decoration: none;
}
