.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: .5rem;
}

.navbar-modal-menu {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.navbar-home-button {
  display: flex;
  margin-right: 5rem;
}

.navbar-play {
  margin-left: 1rem;
  margin-right: .1rem;
}

.navbar-site-name {
  display: flex;
  align-items: center;
  font-size: 22px;
  text-decoration: none;
}

.navbar-pause {
  font-size: 28px;
  margin-left: .2rem;
}

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}
