.side-menu-wrapper {
  /* border: 1px solid purple; */
  position: fixed;
  z-index: 1;
  width: fit-content;
  /* top: .rem; */
  height: 40rem;
  /* border: 1px solid purple; */

}

.side-menu-button {
  border: none;
  display: flex;
  align-items: center;
  margin: .4rem 1rem;

}

.side-menu-dropdown {
  position: absolute;
  top: 2.3rem;
  /* border: 1px solid blue; */
  width: 11rem;
  left: -.6rem;
  height: 121%;
  /* padding-left: ; */
  border-right: 1px solid rgb(94, 94, 94);
  background-color: #0f0f0f;
}

.side-menu-dropdown-wrapper {

  padding-top: 2rem;
  /* padding-left: 1.5rem; */

  /* border: 1px solid purple; */
}

/* .side-menu-dropdown-wrapper {
  position: absolute;
  padding: 1rem;
  width: 80%;
  height: 100%;
  border: 1px solid blue;
  right: .7rem;
}

.side-menu-dropdown {
  height: 102%;
  display: flex;
  position: absolute;
  top: 1.86rem;
  min-height: 2rem;
  width: 11rem;
  background-color: #0f0f0f;
  border: 1px solid purple;
  border-right: 1px solid rgb(94, 94, 94);
} */

.side-menu-tab-divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(94, 94, 94);
  /* background-color: purple; */
  width: 100%;
  padding-bottom: 2.3em;
  margin-bottom: 2.3rem;
}

.side-menu-tabs {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 1.2rem;
  width: 70%;
  height: 2.2rem;
  /* padding-left: 3rem; */

  /* padding-left: .8rem; */
  /* border: 1px solid red; */
  border-radius: 1rem;
  /* color: darkorchid; */
  color: #4c1892;

}

.side-menu-tabs:hover {
  background-color: rgb(94, 94, 94);
}

.navbar {
  display: flex;
  position: fixed;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  /* padding-top: .2rem; */
  top: 0rem;
  /* left: 2rem; */
  width: 100%;
  padding: 5px 0;
  background-color: #0f0f0f;
  border-bottom: 1px solid rgb(94, 94, 94);
  /* box-shadow: 1px 1px 1px rgb(94, 94, 94); */
}

.navbar-modal-menu {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.navbar-left {
  display: flex;
  /* margin-right: 5rem; */

}

.navbar-play {
  margin-left: 1rem;
  margin-right: .2rem;
  /* color: darkorchid */
  color: #4c1892;
}

.navbar-site-name {
  display: flex;
  align-items: center;
  font-size: 22px;
  text-decoration: none;
  justify-content: end;
  /* color: darkorchid */
  color: #4c1892;

}

.navbar-pause {
  font-size: 28px;
  margin-left: .2rem;
  /* color: darkorchid */
  color: #4c1892;

}

.navbar-middle {
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0 8px;
  border-radius: 12px;
  border: 1px solid gray;
}

.navbar-middle-form {
  /* border: 1px solid red; */
}

.navbar-search-bar-input {
  width: 30rem;
  border-style: none;
}

.navbar-search-bar-input:focus {
  outline: none;
}

.navbar-search-bar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  background-color: gray;
  height: 100%;
  width: 3rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  width: 5rem;
  margin-left: 9rem;
  margin-right: 2rem;
}

.navbar-right-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
  width: 10rem;
}

.navbar-upload {
  font-size: 24px;
  /* height: 100%; */
  /* color: darkorchid */
  color: #4c1892;

}

.profile-dropdown {
  /* display: flex;
  flex-direction: column; */

  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  min-height: 2rem;

}

.profile-dropdown-inner {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  /* align-items: center; */
  min-width: 12rem;
  height: 7rem;
  border-radius: 12px;
  padding: 8px 0;
  background-color: gray;
  border: 1px solid gray;
}

.profile-dropdown-inner-li {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 6px;
  height: 192px;

  /* border: 1px solid red; */
}

.profile-dropdown-inner-li:hover {
  background-color: lightgray;
}

.profile-dropdown-inner-li>i {
  margin: 0 1rem;

}

/* .profile-dropdown-loggedout {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  border-radius: 12px;
  border: 1px solid gray;
} */

/* .profile-dropdown-loggedout-button {
  text-decoration: none;
  color: black;
} */
/* .profile-dropdown-loggedout  { */
/* border-style: none; */
/* } */

.profile-dropdown {
  list-style: none;

}

.hidden {
  display: none;
}
