.home-wrapper {
    margin: 0 4rem;
    margin-top: 1rem;
    border: 1px solid red;
    min-height: 26rem;
    padding: 3rem 5rem;
    padding-bottom: 0;
}

.home-wrapper-inner {
    display: flex;
    flex-flow: row wrap;
    min-height: 38rem;
    border: 1px solid red;
}
